{% extends "base.html" %}

{% block content %}
  <div class="mx-auto w-75 p-3">
  <div class="container d-flex justify-content-end">
  <h3><a class="btn-lg" href="{% url "tracker:newspaper-create" %}">Add newspaper</a></h3>
  </div>
    {% if newspaper_list %}
      <table class="table ">
        <tr class="thead-light">
          <th>ID</th>
          <th>Title</th>
          <th>Date</th>
        </tr>
      {% for paper in newspaper_list %}
        <tr>
          <td>{{ paper.id }}</td>
          <td><h5><a href={% url "tracker:newspaper-detail" pk=paper.id %}>{{ paper.title }}</a></h5></td>
          <td><h6>{{ paper.publish_date }}</h6></td>
        </tr>
      {% endfor %}
      </table>

  {% else %}
    <br>
    <p>There are no newspapers at the moment </p>
    <br>
    <p>Would you like to create some? ;)</p>
  {% endif %}
  </div>
{% endblock %}
