{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container-fluid" style="margin-left: 1em;">
  <div class="row">
  <div class="col-sm-1">
    {% include "includes/sidebar_filter.html" %}
  </div>



  <div class="mx-auto w-75 p-3">
   <form action="" method="get">
    {{ search_form|crispy }}
   </form>


  <div class="container d-flex justify-content-end">
  <h3><a class="btn-lg" href="{% url "tracker:newspaper-create" %}">Add newspaper</a></h3>
  </div>
    {% if newspaper_list %}
      <table class="table ">
        <tr class="thead-light">
          <th>ID</th>
          <th>Title</th>
          <th>Date</th>
        </tr>
      {% for paper in newspaper_list %}
        <tr>
          <td>{{ paper.id }}</td>
          <td><h5><a href={% url "tracker:newspaper-detail" pk=paper.id %}>{{ paper.title }}</a></h5></td>
          <td><h6>{{ paper.publish_date }}</h6></td>
        </tr>
      {% endfor %}
      </table>

  {% else %}
    <br>
    <p>There are no newspapers at the moment </p>
    <br>
      <p>Would you like to <a href="{% url "tracker:newspaper-create" %}">create</a> some? ;)</p>
  {% endif %}
  </div>
  </div>
  </div>
{% endblock %}
