{% extends "base.html" %}

{% block content %}
  {% if newspaper_list %}
    <div class="mx-auto w-75 p-3">
      <table class="table ">
        <tr class="thead-light">
          <th>ID</th>
          <th>Title</th>
          <th>Topics</th>
          <th>Redactors</th>
        </tr>
      {% for paper in newspaper_list %}
        <tr>
          <td>{{ paper.id }}</td>
          <td><h5>{{ paper.title }}</h5></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <br>
    <p>There are no newspapers at the moment </p>
    <br>
    <p>Would you like to create some? ;)</p>
  {% endif %}
{% endblock %}
