{% extends "base.html" %}

{% block content %}
  <div class="mx-auto w-75 p-3">
    <h3>
      {{ redactor.username }}
        <a class="btn-lg" href="{% url "tracker:redactor-update" pk=redactor.id%}">Update</a>
      {% if user == redactor %} (me)
      {% endif %}
    </h3>
    <h6>
      {% if redactor.first_name and redactor.last_name %}
        real name: {{ redactor.first_name }} {{ redactor.last_name }}
      {% endif %}
    </h6>
    <h6>
      {% if redactor.years_of_experience %}
        years of experience: {{ redactor.years_of_experience }}
      {% endif %}
    </h6>
    <br>
    {% if redactor.newspapers.all %}
      <h6>Newspapers:</h6>
      <ul>
      {% for paper in redactor.newspapers.all %}
        <li>
          <a href="{% url "tracker:newspaper-detail" pk=paper.id %}">{{ paper.title}}</a>
          {% if paper.publish_date %}
          <h6>{{ paper.publish_date }}</h6>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% else %}
        <p>This redactor has no newspapers </p>
        <p>Would you like to <a href="{% url "tracker:newspaper-create" %}">create</a> some? ;)</p>
    {% endif %}
  </div>
{% endblock %}