{% extends "base.html" %}

{% block content %}
  <div class="mx-auto w-75 p-3">
    <h3>{{ topic.name }}</h3>
    <br>
    {% if topic.newspapers.all %}
      <h6>Newspapers:</h6>
      <ul>
      {% for paper in topic.newspapers.all %}
        <li>
          <a href="#">{{ paper.title}}</a>
{#          {% if paper.publish_date %}#}
{#          Date:{{ paper.publish_date|date:"D d M Y" }}#}
{#          {% endif %}#}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>There are no newspapers with such a topic </p>
      <br>
      <p>Would you like to create some? ;)</p>
    {% endif %}
  </div>
{% endblock %}