{% extends "base.html" %}

{% block content %}
  {% if topic_list %}
    <div class="mx-auto w-75 p-3">
      <table class="table ">
        <tr class="thead-light">
          <th>ID</th>
          <th>Topic</th>
          <th></th>
          <th></th>
        </tr>
      {% for topic in topic_list %}
        <tr>
          <td>{{ topic.id }}</td>
          <td><h5>{{ topic.name }}</h5></td>
          <td><a href="#">Update</a></td>
          <td>Delete</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <br>
    <p>There are no topics at the moment </p>
    <br>
    <p>Would you like to create some? ;)</p>
  {% endif %}
{% endblock %}
